<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="SimpleContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.121,1433;Database=SimpleDatabase;User Id=sa;Password=12345;" />
  </connectionStrings>
</configuration>